{
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-console": "off",
    "max-len": [2, {"code": 205, "tabWidth": 4, "ignoreUrls": true}],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }]
  }
}